body{
    width: 100%;
}
.container_top{
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
}
.container_top>div:nth-child(2){
    display: flex;
    flex-wrap: nowrap;
}
.container_top>div:nth-child(2) img{
    height: 180px;
}
.imgbox{
    left: 0px;

}
.container{
    width: 1080px;
}
.container>img{
    width: 800px;
    margin: 0 auto;
    display: block;
    position: absolute;
    top:45%;
    left: 23%;
}
footer{
    position: absolute;
    top:120%
}